<div class="jumbotron">
  <h1>Welcome to MVM</h1>
  <p>
  	Get more information for your favorite movies and latest series </p>
  <ul>
  	<li class="btn btn-primary btn-lg" href="#" role="button">Movies</li>
    <li class="btn btn-primary btn-lg" href="#" role="button">Series</li>
  </ul>
  <ul>
  	<li class="btn btn-primary btn-lg" href="#" role="button">Sign up</li>
    <li class="btn btn-primary btn-lg" href="#" role="button">Sign in</li>
  </ul>
</div>