@import "bootstrap-sprockets";
@import "bootstrap";



#logo{
	font-weight: bold;
	font-size: 200%;
	font-style: oblique;
}

.footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul{
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

.like:hover { 
	text-decoration: none;
}
