@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
	font-weight: bold;
	font-size: 200%;
	font-style: oblique;
}


/*----------- footer-----------*/

.footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul{
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

/*----------- sign in buttum-----------*/

.like:hover { 
	text-decoration: none;
}



.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {

    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.navbar-nav{
	color: #0099cc;
}