<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>category</h3>
  <ul class="nav nav-tabs">
    <li class= "active" ><%= link_to "home", root_path %></li>
    <li><% Category.all.each do |category|%>
    <li><%= link_to "#{category.name}", category_path(category) %></li>
        <%end %>
    </li>
  </ul>
  <br>

</div>

</body>
</html>