<%if user_signed_in? %>

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">

  </head>
  <body>

  <div class="container">
    <h3>Genre</h3>
    <ul class="nav nav-tabs">
      <li class= "active" ><%= link_to "home", root_path %></li>
      <li><% Category.all.each do |category|%>
      <li><%= link_to "#{@category.name}", category_path(@category) %></li>
          <%end %>
      </li>
    </ul>
    <br>

  </div>

  </body>
  </html>
<%end%>