<div class="container">
	<footer class="footer">
		<small>
			Copyrights &copy;2016, All Rights Reseved  by <a href="https://www.facebook.com/adel.almaleh2">Adel Almaleh</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "Home", root_path %></li>
	      <li><% Category.all.each do |category|%>
        <li><%= link_to "#{category.name}", category_path(category) %></li>
        <%end %>
			</ul>
		</nav>
	</footer>
</div>